<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopper's Paradise</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/font-awesome.min.css")

</head>
<body style="background-color: #efefef; font-family: Calibri">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand ml-3" href="~/Home"><img src="~/Images/shparadise-logo2.png" style="max-width: 50px" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white h4 mt-2" href="~/Products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white h4 mt-2" href="/Orders/">My Orders</a>
                </li>
            </ul>
            <ul class="navbar-nav float-right mr-5">
                <li class="nav-item justify-content-center">
                    <a class="btn btn-dark mt-1" href="/Orders/Checkout">
                        <i class="fa fa-shopping-cart fa-2x"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link dropdown-toggle dropbtn text-white h5 mt-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/Account/Login">Login</a>

                            <a class="dropdown-item" href="~/Account/Register">Register</a>
                        </div>
                    }
                    else
                    {
                        <a class="nav-link dropdown-toggle dropbtn text-white h5 mt-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hi, @User.Identity.Name
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/Manage/Index">Manage account</a>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                            }
                        </div>
                    }
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>



