@model IEnumerable<ITPROEKT.Models.Product>

@{
    ViewBag.Title = "All Products";
}

@Styles.Render("~/Content/css")
@Styles.Render("~/Content/DataTables/css")
@Styles.Render("~/Content/Card.css")
@Styles.Render("~/Content/SearchBar.css")


<h2>All Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-6">
        <p>
            Category: @*@Html.DropDownList("Category", new SelectList(Enum.GetValues(typeof(ITPROEKT.Models.ProductCategory))),
            "Select Category", new { @class = "form-control" })*@
            <select id="selectField" class="form-control">
                <option value=""></option>
                <option value="Clothes">Clothes</option>
                <option value="Technology">Technology</option>
                <option value="Make Up">Make Up</option>

            </select>
        </p>
    </div>
    <div class="col-md-6">
        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon"><i class="fa fa-search" style=""></i></a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" id="outerWrap">
        @foreach (var item in Model)
        {
            <div class="col-md-4 productCard">
                <figure class="card card-product">
                    <div class="img-wrap"><img src="@item.URL"></div>
                    <figcaption class="info-wrap">
                        <h4 class="title">@item.Name</h4>
                        <p class="desc">@item.Description</p>
                        <a class="font-weight-bold float-right" id="Name" href="/Sellers/Details/@item.SellerId">@item.Seller.Name</a>
                        <div class="rating-wrap">
                            <div class="label-rating">@item.Rating</div>
                            <div class="label-rating font-weight-bold" id="category">@item.Category </div>
                        </div> <!-- rating-wrap.// -->
                    </figcaption>
                    <div class="bottom-wrap">
                        <a href="" class="btn btn-sm btn-primary float-right">Order Now</a>
                        <div class="price-wrap h5">
                            <span class="price-new">$@item.Price.ToString("0.00")</span>
                        </div> <!-- price-wrap.// -->
                    </div> <!-- bottom-wrap.// -->
                </figure>
            </div> <!-- col // -->
        }
    </div>
</div>


@section scripts{
    <script>
        $("#selectField").on('change', function () {
            var filter = $(this).children("option:selected").val();
            $(".productCard").filter(function () {
                $(this).toggle($(this).text().indexOf(filter) > -1)
            })
        });

        
        
    </script>

    }