@model IEnumerable<ITPROEKT.Models.Order>
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

<style>
    body {
        background-color: #ccdde4;
    }

    #product-details {
        max-width: 100%;
    }

    .btn-round {
        border-radius: 30px;
    }

    .left-background {
        background-color: antiquewhite;
    }

    .right-background {
        background-color: antiquewhite;
    }

    .text-cyan {
        color: antiquewhite;
    }

    img {
    }

    #description-product {
        max-width: 80%;
    }

    .alignleft {
        float: left;
        padding-left: 10%;
    }

    #products {
    }

    #textbox {
        clear: both;
        max-width: 80%;
    }

    .btnleft {
        float: left;
    }

    .btnright {
        float: right;
    }

    .alignright {
        float: right;
        max-width: 60%;
    }
</style>


<div id="product-details" style="background-color:antiquewhite">
    @if (Session["cart"] != null)
    {
        <div class="d-md-flex mt-5 mx-5 py-5 align-items-center">
            <div class="row w-100" style="background-color:#ccd9de">

                <!-- First Half -->

                <div id="products" class="col-md-6 p-0 left-background">
                    <div class="row font-weight-bold">
                        <div class="col-3">

                        </div>
                        <div class="col-2">
                            Product
                        </div>
                        <div class="col-2">
                            Status
                        </div>
                        <div class="col-2">
                            Quantity
                        </div>
                        <div class="col-2">
                            Price
                        </div>
                        <div class="col-2">
                            Delete
                        </div>
                    </div>
                    <hr />
                    
                      @for(int i=0; i<Model.ToList().Count; i++)
                                {
                        <div class="row">
                            <div class="col-3">
                                <img style="max-width:100px; max-height:100px" src="@Model.ElementAt(i).Product.URL" />
                            </div>
                            <div class="col-2">
                                @Html.DisplayFor(modelItem => @Model.ElementAt(i).Product.Name)
                            </div>
                            <div class="col-2">
                                @Html.DisplayFor(modelItem => @Model.ElementAt(i).Status)
                            </div>
                            <div class="col-2">
                                @Html.DisplayFor(modelItem => @Model.ElementAt(i).Quantity)
                            </div>
                            <div class="col-2">
                                @Html.DisplayFor(modelItem => @Model.ElementAt(i).TotalAmount)
                            </div>
                            <div class="col-2">
                                @Html.ActionLink("Delete item", "DeleteItem", new { id = @i })
                            </div>
                        </div>
                        <hr />
                    }
                </div>
                <!-- Second Half -->

                <div class="col-md-6 p-0  right-background float-right" style="background-color:white">
                    <div class="h-md-100 p-5">
                        <h1></h1>
                        <br />
                        <h2>Checkout</h2>
                        <p class="text-justify form-check font-weight-bold" id="description-product">
                            Paypal @Html.RadioButton("paying", "PayPal")
                            Visa @Html.RadioButton("paying", "Visa")
                        </p>
                        <br />
                        <p>
                            <label>Adress:</label>
                            <input type="text" class="form-control" />
                        </p>
                        <p>
                            <label>Telephone:</label>
                            <input type="tel" class="form-control" />
                        </p>

                        <p>
                            <label>Card Number:</label>
                            <input type="text" class="form-control" />
                        </p>
                        <p>
                            <label>Card Holder Name:</label>
                            <input type="text" class="form-control" />
                        </p>
                        <p>
                            <label>Pin:</label>
                            <input type="password" class="form-control col-3" />
                        </p>

                        <p>
                            @{
                                float sum = 0;
                                foreach (var item in Model)
                                {
                                    sum += item.TotalAmount;
                                }
                                <h4>Total amount: $@sum.ToString("0.00")</h4>
                            }

                        </p>
                        <br />
                        <p>
                            <span class="btnleft">
                                @Html.ActionLink("Cancel","Index","Home", new { @class = "btn btn-round", @style = "background-color:white; border-color:dimgray; color:darkcyan" })
                            </span>
                            <span class="btnright" style="margin-right:100px">
                                @*@Html.ActionLink("Buy", "AddClubMember", "Account",new { id = "f5674807-2bfc-4199-b1fa-15fdd4572dee" } ,new { @class = "btn btn-round", @style = "background-color:green; color:white" });
                               *@ @Html.ActionLink("Buy", "Buy", "Orders", new { @class = "btn btn-round", @style = "background-color:green; color:white" });
                                @Html.ActionLink("Delete whole", "DeleteWholeCart", "Orders", new { @class = "btn btn-round", @style = "background-color:red; color:white" });
                                
                            </span>
                            <br />
                        </p>
                    </div>



                </div>
            </div>
        </div>
    }
    else
    {
        @*<div class="container-fluid">
                <div id="no-items">
                    <img src="https://cdn4.iconfinder.com/data/icons/shopping-177/40/31-512.png" />
                <hr />
                    <h2>
                        There are no items in your cart!
                    </h2>
                </div>

            </div>*@
    }
</div>


@*@section Scripts{
    <script>

        $("btn-del").click(function () {
            var item = @Model[0];
            var sd = @Model.ToList().IndexOf();
        });
    </script>
    }*@
@*asda

    <table class="table">
        <tr>
            <th>

            </th>
            <th>
                ID
            </th>
            <th>
                Status
            </th>
            <th>
                Product
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            <img style="max-width:200px; max-height:150px" src="@item.Product.URL" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
    </tr>
        }
    </table>*@