@model IEnumerable<ITPROEKT.Models.FinalOrder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="container">
    <div class="row">
        <div class="col">
            ID
        </div>
        <div class="col">
            Date and Time
        </div>
        <div class="col">
            Orders
        </div>
        <div class="col">
            Total amount
        </div>
    </div>
    @foreach (var item in Model)
    {
    <div class="row">
        <div class="col">
             @item.Id
        </div>
        <div class="col">
            @item.Info
        </div>
        <div class="col">
            @foreach(var it in item.Orders)
            {
            <div class="row">
                <div class="col">
                    @it.Product.Name
                </div>
                <div class="col">
                    @it.Product.Category
                </div>
                <div class="col">
                    @it.Quantity
                </div>
                <div class="col">
                    @it.Status
                </div>
                <div class="col">
                    @it.TotalAmount
                </div>
            </div>
            }
        </div>
    </div>

    

    }
</div>
