@model ITPROEKT.Models.Seller

@{ ViewBag.Title = "Create"; }

@Styles.Render("~/Content/Login.css")
<style>

    #content {
        max-width: 100%;
    }

    body {
        background-color: #b4c6cb;
    }
</style>


<div id="content" class="row p-5">
    <div class="col-md-6 login-form-1">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            @Html.Label("Add new Seller", new { @class = "text-white h3 mb-5" })
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-2 text-white" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "col-md-2 text-white" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.Category, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "col-md-2 text-white" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "col-md-2 text-white" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Vision, htmlAttributes: new { @class = "col-md-2 text-white" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Vision, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Vision, "", new { @class = "text-danger" })
                </div>
            </div>
            @*            <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe, new { @class = "text-white" })
                        </div>
                    </div>
                </div>*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-dark" style="background-color: #65a4bd" />
                </div>
            </div>
        }
    </div>
    <div class="col-md-6 login-form-2" style="background-color:#65a4bd">
        <div class="d-flex justify-content-center p-0">
            <img class="m-0" src="~/Images/shparadise-logo2.png" style="max-width: 500px" />
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}